@import url(./reset.css);


/* ---- MENU ----- */
.menu{
    height: 56px;
    

    display: flex;

     /* alinhamento horizontal */
    justify-content: space-between;  

    /* alinhamento vertical */
    align-items: center;
    
    padding: 0 20px 0 20px;
}

.menu-left{
    height: 24px;
    width: 146px;

    display: flex;
    justify-content: space-between;
}

.menu-left #menu{
    height: 24px;
    width: 24px;
}

.menu-left #youtube1{
    height: 20px;
    width: 90px;
}

.menu-center{
    height: 40px;
    width: 404px;

    display: flex;
    
}

.menu-center #search{
    height: 40px;
    width: 348px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    border: 1px solid gray;
   
    
}

.menu-center #button-search{
    height: 40px;
    width: 60px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    border: 1px solid gray;
    
}


.menu-right{
    height: 34px;
    width: 130px;

    display: flex;

    align-items: center;
    justify-content: space-around;   
}

.menu-right img{
    height: 24px;
    width: 24px;
}

.menu-right #imgEu{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



/* ---- VIDEO ----- */

.container {

    max-width: 1200px; /* Defina a largura máxima do contêiner conforme necessário */
    display:flex;

    margin: 20px;
}

/* ---- WATCHING VIDEO ----- */

.watching-video{
    height: 750px;
    width: 950px;
}

.watching-video p{
    font-size: 1.2rem;
    font-weight: 600;

    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    height: 23px;
    width: 870px;
}

/* ---- INFORMATION VIDEO ----- */

.video-actions{
    height: 42px;
    width: 900px ;
    display: flex;
    /* align-items:; */
    
    justify-content: space-between;
    margin-top: 10px;
}

.channel-info{
    margin: 0px;
    height: 42px;
    width: 160px;

    display: flex;
}

#dio-img {
    margin-right: 10px;
    width: 42px;
    height: 42px;
}


.channel-inscritos{
    /* height: 32px;
    width: 106px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.channel-inscritos strong{
    font-size: 12px;
    font-weight: 400;
    font-weight: bold;
    margin: 0;

}

.channel-inscritos p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

#button-signUp{
    height: 40px;
    width: 160px;

    background-color: red;
    color: white;

    border: 0;
    border-radius: 2px;

    font-size: 400;
}

.like{
    height: 40px;
    width: 63px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around
    
}

.like p{
    font-size: 12px;
    font-weight: 400;
    font-weight: bold;
}

.deslike{
    height: 40px ;
    width: 100px ;
    display: flex;
    align-items: center;
    justify-content:space-around
}

.deslike p{
    font-size: 12px;
    font-weight: 400;
    font-weight: bold;
}



.share{
    height: 40px ;
    width: 115px ;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.share p{
    font-size: 12px;
    font-weight: 400;
    font-weight: bold;
}

.download{
    height: 40px;
    width: 95px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.download p{
    font-size: 12px;
    font-weight: 400;
    font-weight: bold;
}

/* barra lateral direita */

.video{
    height: 940px;
    width: 370px;

    display: flex;
    flex-direction: row;

    margin-left: 15px 


}


.column1{
    /* margin-right: 10px; */
    width: 160px;
    margin: 0 10px 10px 0;

}

.column1 img{
    margin-bottom: 20px;
    width: 160px;
    height: 90px;
}


.column2{
    width: 179px;
    display: flex;
    flex-direction: column;
}

.texto{
    height: 90px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 24px;
}

.titulo{
    font-size: 14px;
    font-weight: 600;
}

.subtitulo, .subtitulo1{
    font-size: 12px;
    font-weight: 400;
}